body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("/static/images/back.jpg");
}

.main-container {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header a {
    color: #4169E1;
    font-weight: bold;
    font-size: 18px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.user-info a {
    margin-right: 10px;
    font-size: 18px;
    overflow-wrap: anywhere;
}

.user-info img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.content {
    padding: 20px;
}

.content .oops {
    color: #4169E1;
    text-align: center;
    margin: 18px;
    font-size: 18px;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: #4169E1;
}