.form-container {
    background-color: #ffffff; /* Белый фон для формы */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы внутри формы */
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень под формой */
    max-width: 400px; /* Максимальная ширина формы */
    text-align: center; /* Центрируем текст в форме */
}

.form-container .heading {
    font-size: 20px;
    font-weight: bold; /* Жирный шрифт для заголовка */
    margin-bottom: 20px; /* Отступ снизу заголовка */
    color: #4169E1; /* Цвет заголовка формы */
}

.form-container input {
    width: 93%; /* Поле ввода на 100% ширины */
    padding: 10px; /* Отступы внутри поля */
    margin-bottom: 20px; /* Отступ снизу поля ввода */
    border: 1px solid #4169E1; /* Темно-зеленая рамка */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта для поля ввода */
}

.form-container .button-container {
    display: flex;
    justify-content: space-between; /* Распределяем кнопки по горизонтали */
}

.cancel-button {
    background-color: #d32f2f; /* Красный цвет для кнопки отмены */
    color: #ffffff; /* Белый текст на кнопке */
    border: none;
    border-radius: 5px; /* Закругленные углы кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 12px;
    font-weight: bold; /* Жирный шрифт для кнопки */
}

.create-button {
    background-color: #4169E1; /* Голубой цвет для кнопки создания */
    color: #ffffff; /* Белый текст на кнопке */
    border: none;
    border-radius: 5px; /* Закругленные углы кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор при наведении */
    font-size: 12px;
    font-weight: bold; /* Жирный шрифт для кнопки */
}

.cancel-button:hover {
    background-color: #c62828; /* Темный цвет при наведении для кнопки создания */
}

.create-button:hover {
    background-color: #0000CD; /* Темный цвет при наведении для кнопки создания */
}