.teams-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px; /* Уменьшаем отступы от сторон */
    color: #4169E1; /* Цвет текста заголовка */
    font-size: 14px; /* Уменьшаем размер текста для заголовка */
    font-weight: bold; /* Жирный шрифт для заголовка */
}

.teams-header .heading {
    font-size: 20px;
}

.new-button, .del-button {
    color: #ffffff; /* Цвет текста кнопок */
    border: none;
    border-radius: 5px; /* Закругленные углы кнопок */
    padding: 10px 15px; /* Отступы внутри кнопок */
    margin-left: 10px;
    cursor: pointer; /* Курсор при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт для кнопок */
}

.new-button {
    background-color: #4169E1; /* Основной цвет кнопок */
}

.new-button:hover {
    background-color: #0000CD; /* Темный цвет при наведении */
}

.underline {
    border-bottom: 2px solid #4169E1; /* Подчеркивание */
    margin: 10px 0; /* Отступы сверху и снизу */
}

.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Белый фон для команд */
    border: none; /* Убираем рамку */
    border-radius: 10px; /* Закругленные углы */
    padding: 15px; /* Отступы внутри блока команды */
    margin-bottom: 10px; /* Отступы между командами */
}

.team-item .team-name {
    color: #4169E1;
    text-decoration: none; /* Убираем подчеркивание у названий команд */
    font-size: 18px;
    margin: 10px 0;
}

.team-item .owner {
    color: grey;
}

.del-button {
    background-color: #d32f2f; /* Красный цвет для кнопки удаления */
}

.del-button:hover {
    background-color: #c62828; /* Темный цвет при наведении для удаления */
}

.assign-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px; /* Закругленные углы кнопок */
    padding: 10px 15px; /* Отступы внутри кнопок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт для кнопок */
}

.assign-button .new-button {
    border: none;
    border-radius: 5px; /* Закругленные углы кнопок */
    padding: 10px 15px; /* Отступы внутри кнопок */
    cursor: pointer; /* Курсор при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный шрифт для кнопок */
}

.assign-button .new-button:hover {
    background-color: #0000CD; /* Темный цвет при наведении */    
}

.text-assigned {
    color: #4169E1;
    text-align: center;
    margin: 18px;
    font-size: 18px;
}