.content .oops a {
    color: #000080;
}
.content .oops a:visited {
    color: #000080;
}

.teams-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    color: #4169E1;
    font-size: 14px;
    font-weight: bold;
}

.teams-header .heading {
    font-size: 20px;
    width: 100%;
    overflow-wrap: anywhere;
}

.new-button, .del-button {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.new-button {
    background-color: #4169E1;
}

.new-button:hover {
    background-color: #0000CD;
}

.underline {
    border-bottom: 2px solid #4169E1;
    margin: 10px 0;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.team-item img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 8px;
}

.team-item .team-name {
    color: #4169E1;
    font-size: 18px;
    margin: 10px 0;
    width: 100%;
    overflow-wrap: anywhere;
}

.team-item .owner {
    color: grey;
}

.del-button {
    background-color: #d32f2f;
}

.del-button:hover {
    background-color: #c62828;
}

.assign-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}

.assign-button .new-button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.assign-button .new-button:hover {
    background-color: #0000CD;
}

.text-assigned {
    color: #4169E1;
    text-align: center;
    margin: 18px;
    font-size: 18px;
}

.selected-button {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    background-color: #3CB371;
    text-align: center;
}

.selected-button:hover {
    background-color: #006400;
}