<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a team</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Create a team</h1>
            <form action="/create" method="post">
                <input type="text" name="team_title" placeholder="Title here" required>
                <div>
                    <button type="button" class="btn-cancel" onclick="window.location.href='/'">Cancel</button>
                    <button type="submit" class="btn-submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
