{% extends "base.html" %}

{% block title %}Newwwish{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
<div class="form-container">
    <div class="heading">ADD A NEW WISH</div>
    <form action="/create/wish" method="POST">
        <input type="text" name="wish_title" placeholder="Title here" required>
        <input type="text" name="wish_url" placeholder="URL (optional)">
        <div class="button-container">
            <a href="/user/{{ user_id }}" class="cancel-button">CANCEL</a>
            <button type="submit" class="create-button">ADD</button>
        </div>
    </form>
</div>
{% endblock %}