<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Grandpa Freeze</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="container">
        <div class="user-info">
            <div class="avatar"></div>
            <div class="nickname">Username</div>
        </div>

        <div class="buttons">
            <a href="/create-team" class="button">Create a team</a>
            <a href="/find-team" class="button">Join a team</a>
        </div>
        {% if teams %}
            <div class="section-title">My teams</div>
            <div class="underline"></div>
        {% else %}
            <div class="section-title">Guess, you're not a teammate :(</div>
        {% endif %}

        {% for team in teams %}
        <div class="teams">
            <div class="team">{{ team.title }}</div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
