{% extends "base.html" %}

{% block title %}Secret Father Cristmas{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}
    <div class="teams-header">
        <div class="heading">MY TEAMS</div>
        <a href="/create/team" class="new-button">NEW TEAM</a>
    </div>

    <div class="underline"></div>

    {% if not teams %}
        <div class="oops">Guess, you're not a teammate :(</div>
    {% endif %}

    {% for team in teams %}
    <div class="team-item" style="justify-content: center;">
        <a href="/team/{{ team.id }}" class="team-name">{{ team.title }}</a>
    </div>
    {% endfor %}
{% endblock %}
